body {
  text-align: center;
}

#connect4 {
  background-color: rgb(75, 75, 73);
  display: inline-block;
}

.col {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: rgb(209, 209, 209);
  border-radius: 50%;
  margin: 15px;
}

.col.empty {
  cursor: pointer;
}

.next-red {
  background-color: rgba(255, 0, 0, 0.2);
}

.next-black {
  background-color: rgba(0, 0, 0, 0.2);
}

.col.red {
  background-color: red;
}

.col.black {
  background-color: rgb(0, 0, 0);
}
